#
#~/.gitconfig_local
#[user]
#   name =
#   email =
#
[include]
    path = ~/.gitconfig_local
[core]
    editor = vim
    pager = less -x4
[merge]
    tool = vimdiff
[alias]
    lgr = log --graph --oneline --decorate
[push]
    default = simple
[diff]
    tool = vimdiff
[difftool]
    prompt = false
