[user]
	name = Dariusz Sosnowski
[core]
	editor = vim
	pager = less -x4
[merge]
	tool = vimdiff
[alias]
	lgr = log --graph --oneline --all --decorate
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
