[user]
	name = Dariusz Sosnowski
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	ci = commit
	st = status
	br = branch
	co = checkout
	rb = rebase
	df = difftool
	loggraph = log --graph --oneline --all --decorate
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
